body {
    background: black;
    display: flex;
    justify-content: center;
}
.container {
    margin: 50px;
    border-radius: 10px;
    background: white;
    width: 400px;
    height: 500px;
}
.encabezado {
    font-size: 30px;
    display: flex;
    width: 400px;
    height: 50px;   
}
div.profile{
    width: 13%;
}
div.info-user{
    margin-top: 1px;
    flex-direction: column;
    width: 90%;
}
.profile img {
    border-radius: 10px;
    height: 50px;
    width: 60px;
}
.info-user {
    font-size: 20px;
    display: flex;
    align-items: flex-start;
    margin: 5px;
}
.info-user p {
    align-items: flex-start;
    margin: 0;
    margin-left: 10px;
    margin-top: 2px;
}
.extra{
    font-size: 15px;
}
.info-user img {
    width: 50px;
}
.dots {
    margin-right: 10px;
}
.imagen {
    width: 400px;
    height: 300px;
}
.iconos{
    margin: 10px;
    margin-bottom: 0;
    align-items: center;
    font-size: 25px;
    justify-content: space-between;
    display: flex;
    width: 380px;
    height: 30px;
}
.descripcion {
    width: 380px;
    height: 250px;
    margin: 10px;  
}